*~
*.orig
*.d
*.o
*.a
*.so
*.P
*.ppm
*/.deps/*
fmpz/fmpz.c
build/
config.h
fft_tuning.h
fmpz-conversions.h
Makefile
doc/latex/flint-manual.*
!doc/latex/flint-manual.tex
doc/latex/input/*
doc/latex/create_doc
libflint*
*.suo
*.pyc
/build.vc14/build_tests/arith/test/*.obj
*.manifest
*.obj
*.log
*.user
*.tlog
*.sdf
build.vc12
