*~
*.swp
*.orig
*.d
*.o
*.a
*.so
*.P
*.ppm
*/.deps/*
src/fmpz/fmpz.c
src/flint-config.h
src/config.h.in
src/longlong.h
src/fft_tuning.h
build/
config.log
/Makefile
doc/build
doc/latex/flint-manual.*
!doc/latex/flint-manual.tex
doc/latex/input/*
doc/latex/create_doc
libflint*
*.suo
*.pyc
/build.vc14/build_tests/arith/test/*.obj
dll/*
local/
lib/*
build.vc14/flint-tests*.sln
build.vc14/dll_flint/x64
build.vc14/dll_flint/Win32
build.vc14/lib_flint/x64
build.vc14/lib_flint/Win32
build.vc14/tests
build.vc14/flint-profiles
build.vc14/flint-profiles*.sln
*.manifest
*.obj
*.log
*.user
*.tlog
*.sdf
build.vc12
build
flint2
.DS_Store
python/__pycache__/*.pyc
aclocal.m4
config.guess
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
flint.pc
