*~
*.orig
*.d
*.o
*.a
*.so
*.P
*.ppm
*/.deps/*
fmpz/fmpz.c
build/
config.h
fft_tuning.h
fmpz-conversions.h
Makefile
doc/latex/flint-manual.*
!doc/latex/flint-manual.tex
doc/latex/input/*
doc/latex/create_doc