language: c
sudo: false
addons:
  apt:
    packages:
      - texinfo

os:
  - osx
  - linux

compiler:
  - gcc
  - clang

script:
  - if [[ "${TRAVIS_OS_NAME}" == "osx" ]] && [[ "${CC}" == "gcc" ]]; then
        export CC=gcc-4.8;
        export CXX=g++-4.8;
    fi
  - ./.build_dependencies && ./configure --with-mpir=mpir-2.7.0 --with-mpfr=mpfr-3.1.4 && make -j4 && make -j4 check

